
  .counter {
    width: 70px;
    height: 70px;
    background-color: grey;
    color: white;
    margin: 10px auto;
    font-size: 50px;
    padding: 30px 30px;
    border-radius: 50%;
    border: 2px solid rgb(73, 1, 139);
  }

  .odd {
    background-color: red;
  }

  .even {
    background-color: blue;
  }

  .ten {
    background-color: yellow;
  }

  .buttons {
    width: 300px;
  }